.header{
    height:100vh;
}
p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
#GOKARNA{color:white; background-color: #232582;}
#MURUDESHWARA{color: white;background-color: #F64C72;}
#GOA{color:white;background-color: #553D67;}
#MARINA{color:white;background-color: #2F2FA2;}

#MUSSOORIE{color: white;background-color: #8d8741;}
#MUNNAR{color: white;background-color: #659dbd;}
#OOTY{color: rgb(3, 3, 3);background-color: #daad86;}
#SHILLONG{color: rgb(10, 10, 10);background-color: #bc986a;}


#THAR{color: white;background-color: #05386b;}
#GOBI{color: white;background-color: #379683;}
#SAHARA{color: rgb(12, 12, 12);background-color: #5cdb95;}

#MAHINDRA{color: rgb(7, 7, 7);background-color: #8ee4af;}
#ELIXIR{color: rgb(8, 8, 8);background-color: #edf5e1;}
#ORION{color: white;background-color: #907163;}



